<?xml version='1.0' encoding='UTF-8'?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>biol-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>imagesPath</param-name>
    <param-value>D:/pic/biolbg-pic</param-value>
  </context-param>
  <context-param>
    <param-name>maxImageFileSize</param-name>
    <param-value>300000</param-value>
  </context-param>
  <context-param>
  	<param-name>logPath</param-name>
  	<param-value>d:/log/biolbg/biol.log</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/home.jsf</location>
  </error-page>
  
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.biol.biolbg.web.servlets.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ItemImage</display-name>
    <servlet-name>ItemImage</servlet-name>
    <servlet-class>com.biol.biolbg.web.servlets.ItemImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemImage</servlet-name>
    <url-pattern>/ItemImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RegCodeImage</display-name>
    <servlet-name>RegCodeImage</servlet-name>
    <servlet-class>com.biol.biolbg.web.servlets.RegCodeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegCodeImage</servlet-name>
    <url-pattern>/RegCodeImage</url-pattern>
  </servlet-mapping>
</web-app>
